In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
# Load pylab
%pylab inline

destinations = pd.read_csv("data/my_submission.csv")
test = pd.read_csv("data/test.csv")
train = pd.read_csv("data/train.csv")
firstColumnInd = destinations["Id"]

Populating the interactive namespace from numpy and matplotlib

In [114]:
print train.shape
print test.shape
print destinations.shape

(10886, 15)
(6493, 14)
(6493, 2)

In [115]:
train.head(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [116]:
train["dteday"] = pd.to_datetime(train["dteday"])
#train["year"] = train["dteday"].dt.year
#train["day"] = train["dteday"].dt.day

train.drop('dteday', axis=1, inplace=True)
#train.drop('yr', axis=1, inplace=True)
train["cnt"] = log(train["cnt"])

train["cmnth"] = cos(train["mnth"])
train["smnth"] = sin(train["mnth"])
train["chr"] = cos(train["hr"])
train["shr"] = sin(train["hr"])

train.drop('hr', axis=1, inplace=True)
train.drop('mnth', axis=1, inplace=True)


test["dteday"] = pd.to_datetime(test["dteday"])
#test["year"] = test["dteday"].dt.year

test["cmnth"] = cos(test["mnth"])
test["smnth"] = sin(test["mnth"])
test["chr"] = cos(test["hr"])
test["shr"] = sin(test["hr"])

test.drop('hr', axis=1, inplace=True)
test.drop('mnth', axis=1, inplace=True)



#test["day"] = test["dteday"].dt.day
#test.drop('yr', axis=1, inplace=True)
test.drop('dteday', axis=1, inplace=True)

In [117]:
train.head(5)

,instant,season,yr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,cmnth,smnth,chr,shr
0,1,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,2.772589,0.540302,0.841471,1.000000,0.000000
1,2,1,0,0,6,0,1,0.22,0.2727,0.80,0.0,3.688879,0.540302,0.841471,0.540302,0.841471
2,3,1,0,0,6,0,1,0.22,0.2727,0.80,0.0,3.465736,0.540302,0.841471,-0.416147,0.909297
3,4,1,0,0,6,0,1,0.24,0.2879,0.75,0.0,2.564949,0.540302,0.841471,-0.989992,0.141120
4,5,1,0,0,6,0,1,0.24,0.2879,0.75,0.0,0.000000,0.540302,0.841471,-0.653644,-0.756802

In [118]:
train.corr()["cnt"]

instant       0.234820
season        0.161126
yr            0.175105
holiday      -0.000435
weekday       0.028402
workingday   -0.018126
weathersit   -0.106078
temp          0.373913
atemp         0.369587
hum          -0.327998
windspeed     0.120310
cnt           1.000000
cmnth         0.032494
smnth        -0.076037
chr           0.112895
shr           0.047568
Name: cnt, dtype: float64

In [73]:
train["hum"] = preprocessing.scale(train["hum"])
train["hr"] = preprocessing.scale(train["hr"])
train["holiday"] = preprocessing.scale(train["holiday"])
train["weekday"] = preprocessing.scale(train["weekday"])
train["workingday"] = preprocessing.scale(train["workingday"])
train["weathersit"] = preprocessing.scale(train["weathersit"])
train["temp"] = preprocessing.scale(train["temp"])
train["atemp"] = preprocessing.scale(train["atemp"])
train["windspeed"] = preprocessing.scale(train["windspeed"])
train["year"] = preprocessing.scale(train["year"])
train["season"] = preprocessing.scale(train["season"])
train["mnth"] = preprocessing.scale(train["mnth"])

test["hum"] = preprocessing.scale(test["hum"])
test["hr"] = preprocessing.scale(test["hr"])
test["holiday"] = preprocessing.scale(test["holiday"])
test["weekday"] = preprocessing.scale(test["weekday"])
test["workingday"] = preprocessing.scale(test["workingday"])
test["weathersit"] = preprocessing.scale(test["weathersit"])
test["temp"] = preprocessing.scale(test["temp"])
test["atemp"] = preprocessing.scale(test["atemp"])
test["windspeed"] = preprocessing.scale(test["windspeed"])
test["year"] = preprocessing.scale(test["year"])
test["season"] = preprocessing.scale(test["season"])
test["mnth"] = preprocessing.scale(test["mnth"])

In [119]:
train.head(5)

,instant,season,yr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,cmnth,smnth,chr,shr
0,1,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,2.772589,0.540302,0.841471,1.000000,0.000000
1,2,1,0,0,6,0,1,0.22,0.2727,0.80,0.0,3.688879,0.540302,0.841471,0.540302,0.841471
2,3,1,0,0,6,0,1,0.22,0.2727,0.80,0.0,3.465736,0.540302,0.841471,-0.416147,0.909297
3,4,1,0,0,6,0,1,0.24,0.2879,0.75,0.0,2.564949,0.540302,0.841471,-0.989992,0.141120
4,5,1,0,0,6,0,1,0.24,0.2879,0.75,0.0,0.000000,0.540302,0.841471,-0.653644,-0.756802

In [120]:
test.head(5)

,instant,season,yr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cmnth,smnth,chr,shr
0,432,1,0,0,4,1,1,0.26,0.2273,0.56,0.3881,0.540302,0.841471,1.000000,0.000000
1,433,1,0,0,4,1,1,0.26,0.2727,0.56,0.0000,0.540302,0.841471,0.540302,0.841471
2,434,1,0,0,4,1,1,0.26,0.2727,0.56,0.0000,0.540302,0.841471,-0.416147,0.909297
3,435,1,0,0,4,1,1,0.26,0.2576,0.56,0.1642,0.540302,0.841471,-0.989992,0.141120
4,436,1,0,0,4,1,1,0.26,0.2576,0.56,0.1642,0.540302,0.841471,-0.653644,-0.756802

In [121]:
train.corr()["cnt"]

instant       0.234820
season        0.161126
yr            0.175105
holiday      -0.000435
weekday       0.028402
workingday   -0.018126
weathersit   -0.106078
temp          0.373913
atemp         0.369587
hum          -0.327998
windspeed     0.120310
cnt           1.000000
cmnth         0.032494
smnth        -0.076037
chr           0.112895
shr           0.047568
Name: cnt, dtype: float64

In [123]:
X = train[['season','yr','cmnth','chr','smnth','shr','holiday','workingday','weathersit','temp','atemp','hum','windspeed']]
y= train['cnt']

X_test_set =test[['season','yr','cmnth','chr','smnth','shr','holiday','workingday','weathersit','temp','atemp','hum','windspeed']]

In [124]:
X.head(5)

,season,yr,cmnth,chr,smnth,shr,holiday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,0,0.540302,1.000000,0.841471,0.000000,0,0,1,0.24,0.2879,0.81,0.0
1,1,0,0.540302,0.540302,0.841471,0.841471,0,0,1,0.22,0.2727,0.80,0.0
2,1,0,0.540302,-0.416147,0.841471,0.909297,0,0,1,0.22,0.2727,0.80,0.0
3,1,0,0.540302,-0.989992,0.841471,0.141120,0,0,1,0.24,0.2879,0.75,0.0
4,1,0,0.540302,-0.653644,0.841471,-0.756802,0,0,1,0.24,0.2879,0.75,0.0

In [125]:
X_test_set.head(5)

,season,yr,cmnth,chr,smnth,shr,holiday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,0,0.540302,1.000000,0.841471,0.000000,0,1,1,0.26,0.2273,0.56,0.3881
1,1,0,0.540302,0.540302,0.841471,0.841471,0,1,1,0.26,0.2727,0.56,0.0000
2,1,0,0.540302,-0.416147,0.841471,0.909297,0,1,1,0.26,0.2727,0.56,0.0000
3,1,0,0.540302,-0.989992,0.841471,0.141120,0,1,1,0.26,0.2576,0.56,0.1642
4,1,0,0.540302,-0.653644,0.841471,-0.756802,0,1,1,0.26,0.2576,0.56,0.1642

In [126]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)
print X_train.shape
print X_test.shape

(8164, 13)
(2722, 13)

In [128]:
from sklearn.neighbors import KNeighborsRegressor

kneighbor_regression = KNeighborsRegressor(n_neighbors=2)
kneighbor_regression.fit(X_train, y_train)


print kneighbor_regression.score(X_train, y_train)
print kneighbor_regression.score(X_test, y_test)

0.861230391968
0.526574576307

In [129]:
y_pred_test_real = kneighbor_regression.predict(X_test_set)

y_pred_test_real= exp(y_pred_test_real)
print y_pred_test_real

[  23.66431913   16.4924225     9.79795897 ...,  290.40316803   39.29376541
   33.61547263]

In [130]:
y_pred_test_real_final = np.ndarray(shape=(len(y_pred_test_real),2), dtype=int)

for i in range (0,len(y_pred_test_real)):
    y_pred_test_real_final[i,0] = firstColumnInd[i]
    y_pred_test_real_final[i,1] = round(y_pred_test_real[i],0)
    
print y_pred_test_real_final

[[  432    24]
 [  433    16]
 [  434    10]
 ...,
 [17377   290]
 [17378    39]
 [17379    34]]

In [131]:
numpy.savetxt("predictive_count.csv", y_pred_test_real_final, delimiter=",",fmt='%d')