In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
# Load pylab
%pylab inline

destinations = pd.read_csv("data/my_submission.csv")
test = pd.read_csv("data/test.csv")
train = pd.read_csv("data/train.csv")
firstColumnInd = destinations["Id"]

Populating the interactive namespace from numpy and matplotlib

In [75]:
print train.shape
print test.shape
print destinations.shape

(10886, 15)
(6493, 14)
(6493, 2)

In [76]:
destinations.head(5)

    Id  Prediction
0  432           0
1  433           0
2  434           0
3  435           0
4  436           0

In [77]:
train["dteday"] = pd.to_datetime(train["dteday"])
train["year"] = train["dteday"].dt.year
train["day"] = train["dteday"].dt.day

train.drop('dteday', axis=1, inplace=True)

test["dteday"] = pd.to_datetime(test["dteday"])
test["year"] = test["dteday"].dt.year
test["day"] = test["dteday"].dt.day

test.drop('dteday', axis=1, inplace=True)

In [78]:
train.head(5)

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt,year,day
0,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16,2011,1
1,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40,2011,1
2,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32,2011,1
3,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13,2011,1
4,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1,2011,1

In [79]:
train.corr()["cnt"]

instant       0.310185
season        0.163439
yr            0.260403
mnth          0.166862
hr            0.400601
holiday      -0.005393
weekday       0.027690
workingday    0.011594
weathersit   -0.128655
temp          0.394454
atemp         0.389784
hum          -0.317371
windspeed     0.101369
cnt           1.000000
year          0.260403
day           0.019826
Name: cnt, dtype: float64

In [80]:
X = train[['season','yr','mnth','hr','holiday','workingday','weathersit','temp','atemp','hum','windspeed','day']]
X_test_set =test[['season','yr','mnth','hr','holiday','workingday','weathersit','temp','atemp','hum','windspeed','day']]
y= train['cnt']

In [81]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)
print X_train.shape
print X_test.shape

(8164, 12)
(2722, 12)

In [82]:
from sklearn.neighbors import KNeighborsRegressor

kneighbor_regression = KNeighborsRegressor(n_neighbors=3)
kneighbor_regression.fit(X_train, y_train)


print kneighbor_regression.score(X_train, y_train)
print kneighbor_regression.score(X_test, y_test)

0.932477416933
0.865956383508

In [83]:
y_pred_test_real = kneighbor_regression.predict(X_test_set)
print y_pred_test_real

[   8.            8.           13.33333333 ...,  160.33333333  102.66666667
   87.        ]

In [87]:
y_pred_test_real_final = np.ndarray(shape=(len(y_pred_test_real),2), dtype=int)

for i in range (0,len(y_pred_test_real)):
    y_pred_test_real_final[i,0] = firstColumnInd[i]
    y_pred_test_real_final[i,1] = round(y_pred_test_real[i],0)
    
print y_pred_test_real_final

[[  432     8]
 [  433     8]
 [  434    13]
 ...,
 [17377   160]
 [17378   103]
 [17379    87]]

In [ ]:
numpy.savetxt("predictive_count.csv", y_pred_test_real_final, delimiter=",",fmt='%d')